{% extends 'base.html.twig' %}

{% block title %}Stwórz artykuł
{% endblock %}

{% block main %}

	<main class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-3 px-2 m-auto">
		<form
			action="{{ path('app_artykul_add') }}" method="post">
			{# <img class="mb-4" src="{{ asset('logo.svg') }}" alt="" width="72" height="57"> #}
			{% if name is null %}
				{% else %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						Sukces! Dodano artykuł:
						{{ name }} dla magazynu {{ app.user.idMagazynu.nazwa }}
						<button type="button" onclick="window.location.href='/artykul/add'" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
			{% endif %}
			<h1 class="h3 mb-3 fw-normal">Nowy artykuł</h1>
			{{ form_start(artykulForm) }}
			<div class="form-floating">
				{{ form_row(artykulForm.nazwa, {label: 'Nazwa'}) }}
			</div>
			<div class="form-floating">
				{{ form_row(artykulForm.jednostkaMiary, {label: 'Jednostka miary'}) }}
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Dodaj</button>
			{{ form_end(artykulForm) }}
		</form>
	</main>
{% endblock %}
