{% extends 'base.html.twig' %}

{% block title %}Artykuły{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
  Artykuły
</li>
{% endblock %}

{% block main %}

<main class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-3 px-2 m-auto">
  {% if app.request.query.get("brak") is null %}
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Uwaga! Brak artykułów. Dodaj artykuł przed rozpoczęciem przyjmowania!
      <button type="button" onclick="window.location.href='/artykul'" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
  <p class="lead">
    Lista artykułów magazynu {{ app.user.idMagazynu.nazwa ?? null }}
  </p>
{# <div class="list-group mb-3">
    {% for item in result %}
    <a href="/artykul/{{item.id}}" name={{ item.id }} class="list-group-item list-group-item-action ">{{ item.nazwa }}</a>
    {% endfor %}
</div> #}
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Ilosc</th>
          <th scope="col">Jed. miary</th>
        </tr>
      </thead>
      <tbody>
        {% for item in result %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.nazwa}}</td>
          <td>{{item.ilosc}}</td>
          <td>{{item.jednostkamiary}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% if is_granted('ROLE_ADMIN') %}

<a href="/artykul/add" class="btn btn-outline-primary" role="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
      </svg>
    Dodaj nowy artykuł
</a>
{% endif %}
</main>
{% endblock %}