 {% extends 'base.html.twig' %} 
{% block header %}{% endblock %}
{% block title %}Logowanie{% endblock %}
{% block customcss %}
<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}

{% block body %}

<main class="form-signin w-100 m-auto">
    <form action="{{ path('app_login') }}" method="post">
      <img class="mb-4" src="{{ asset('logo.svg') }}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Logowanie</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="_username" placeholder="name@example2.com" value="{% if last_username is defined %}{{last_username}}{% else %}test@test2{% endif %}" required>
        <label for="floatingInput">Adres email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="_password" placeholder="Password" value="{% if last_username is defined %}{% else %}123123{% endif %}" required>
        <label for="floatingPassword">Hasło</label>
      </div>
      <div class="mb-3">Nie masz konta? <a href="{{ path('app_register') }}">Zarejestruj się</a></div>
      {% if error %}
        <div class="mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        {# <input type="hidden" name="_target_path" value="/"> #}
      <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
      <p class="mt-5 mb-3 text-muted">&clubs; 2023 Dominik Banik</p>
    </form>
  </main>
{% endblock %}